:root {
  --animation-play-state: running;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes moveAnimation {
    0% {
      right: -15%; /* Start off-screen */
    }
    12.5% {
      right: -15%; /* Move to center */
    }
    38.5% {
      right: calc(50% - 25px); /* Move to center */
    }
    62.5% {
      right: calc(50% - 25px); /* Still hold */
    }
    87.5% {
      right: -15%; /* Move off-screen */
    }
  }

  .animated-div {
    background-color: #3498db; /* Animated div color */
    position: absolute;
    animation: moveAnimation 10s ease-in-out infinite;
    animation-play-state: var(--animation-play-state);
  }